@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');


body{
    background-color: rgb(238, 248, 99);
    background-image: -webkit-linear-gradient(90deg, rgb(238, 248, 99) 0%,rgb(104, 110, 20) 100%);
    background-attachment: fixed;
    background-size: 100% 100%;
    overflow: hidden;
    font-family: "Lilita One", cursive;
}

h1{
    cursor: default;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100px;
    margin: auto;
    display: block;
    text-align: center;
}

h1 span{
    position: relative;
    top: 20px;
    display: inline-block;
    animation: bounce 0.3s ease infinite alternate;
    font-size: 80px;
    color: #fff;
    text-shadow: 0 1px 0 #ccc, 0 2px 0 #ccc,
    0 3px 0 #ccc, 0 4px 0 #ccc,
    0 5px 0 #ccc, 0 6px 0 transparent,
    0 7px 0 transparent, 0 8px 0 transparent,
    0 9px 0 transparent, 0 10px 10px rgba(0, 0, 0, 0.4);
}

h1 span:nth-child(2){
    animation-delay: 0.1s;
}
h1 span:nth-child(3){
    animation-delay: 0.2s;
}
h1 span:nth-child(4){
    animation-delay: 0.3s;
}
h1 span:nth-child(5){
    animation-delay: 0.4s;
}
h1 span:nth-child(6){
    animation-delay: 0.5s;
}
h1 span:nth-child(7){
    animation-delay: 0.6s;
}
h1 span:nth-child(8){
    animation-delay: 0.2s;
}
h1 span:nth-child(9){
    animation-delay: 0.3s;
}
h1 span:nth-child(10){
    animation-delay: 0.4s;
}
h1 span:nth-child(11){
    animation-delay: 0.5s;
}
h1 span:nth-child(12){
    animation-delay: 0.6s;
}
h1 span:nth-child(13){
    animation-delay: 0.7s;
}
h1 span:nth-child(14){
    animation-delay: 0.8s;
}
h1 span:nth-child(15){
    animation-delay: 0.9s;
}


/* Animation */
@keyframes bounce{
    100%{
        top: -20px;
        text-shadow: 0 1px 0 #ccc, 0 2px 0 #ccc,
        0 3px 0 #ccc, 0 4px #ccc,
        0 5px 0 #ccc, 0 6px #ccc,
        0 7px 0 #ccc, 0 8px #ccc,
        0 9px 0 #ccc, 0 50px 25px rgba(0, 0, 0, 0.3);
    }
}